/*clases de tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1E293B;
  color: white;
  
}
.custom-header {
  font-size: 19px; /* Tamaño de fuente personalizado */
  font-weight: bold; /* Otras propiedades de estilo según sea necesario */
}

